.vscode/**
.vscode-test/**
modules/**
dist/tsconfig.tsbuildinfo
dist/**/*.html
node_modules/**
!node_modules/@vscode/webview-ui-toolkit/dist/toolkit.min.js
vsc-extension-quickstart.md
**/tsconfig*.json
**/.*
**/*.map
**/*.ts
*.vsix
**/*.svg
